<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RichTextEdit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C57AE14B1D59DB59001905E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C57AE1641D59DB59001905E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C57AE16F1D59DB59001905E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
